*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: 
    'v h v h v h v h v h'
    'h v h v h v h v h v'
    'v h v h v h v h v h'
    'h v h v h v h v h v'
    'v h v h v h v h v h'
    'h v h v h v h v h v';
  column-gap: 0em;
  margin: 0;

}

.square {
   border: 1px solid black;
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}