/* Quality of Life Setup */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 10x6 Grid Declaration */

body {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0;
  align-content: start;
}

/* Force 1:1 Grid Areas' Aspect */

.square {
  border: 1px solid black;
  width: calc(100vw/10);
  height: calc(100vw/10);
}

/* Horizontal Divisions */

body>.square:nth-child(20n+2),
body>.square:nth-child(20n+4),
body>.square:nth-child(20n+6),
body>.square:nth-child(20n+8),
body>.square:nth-child(20n+10),
body>.square:nth-child(20n+13),
body>.square:nth-child(20n+15),
body>.square:nth-child(20n+17),
body>.square:nth-child(20n+19),
body>.square:nth-child(20n+21) {
  background-color: black;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1px;
  grid-auto-flow: row;
}

/* Vertical Divisions */

body>.square:nth-child(20n+3),
body>.square:nth-child(20n+5),
body>.square:nth-child(20n+7),
body>.square:nth-child(20n+9),
body>.square:nth-child(20n+11),
body>.square:nth-child(20n+12),
body>.square:nth-child(20n+14),
body>.square:nth-child(20n+16),
body>.square:nth-child(20n+18),
body>.square:nth-child(20n+20) {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1px;
  grid-auto-flow: column;
}

/* Color Combinations */

/* W/W */
.colorCombination1 .rectangle#first {
  background-color: white;
}
.colorCombination1 .rectangle#second {
  background-color: white;
}

/* W/R */
.colorCombination2 .rectangle#first {
  background-color: white;
}
.colorCombination2 .rectangle#second {
  background-color: red;
}

/* R/W */
.colorCombination3 .rectangle#first {
  background-color: red;
}
.colorCombination3 .rectangle#second {
  background-color: white;
}

/* W/B */
.colorCombination4 .rectangle#first {
  background-color: white;
}
.colorCombination4 .rectangle#second {
  background-color: blue;
}

/* B/W */
.colorCombination5 .rectangle#first {
  background-color: blue;
}
.colorCombination5 .rectangle#second {
  background-color: white;
}

/* W/Y */
.colorCombination6 .rectangle#first {
  background-color: white;
}
.colorCombination6 .rectangle#second {
  background-color: yellow;
}

/* Y/W */
.colorCombination7 .rectangle#first {
  background-color: yellow;
}
.colorCombination7 .rectangle#second {
  background-color: white;
}