*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0;
  margin: 0;
}

.square {
  border: 1px solid black;
  width: calc(100vw/10);
  max-height: calc(100vw/10);
  z-index: 2;
}

body>.square:nth-child(20n+2),
body>.square:nth-child(20n+4),
body>.square:nth-child(20n+6),
body>.square:nth-child(20n+8),
body>.square:nth-child(20n+10),
body>.square:nth-child(20n+13),
body>.square:nth-child(20n+15),
body>.square:nth-child(20n+17),
body>.square:nth-child(20n+19),
body>.square:nth-child(20n+21) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "upper"
    "lower";
}

body>.square:nth-child(20n+2) #first,
body>.square:nth-child(20n+4) #first,
body>.square:nth-child(20n+6) #first,
body>.square:nth-child(20n+8) #first,
body>.square:nth-child(20n+10) #first,
body>.square:nth-child(20n+13) #first,
body>.square:nth-child(20n+15) #first,
body>.square:nth-child(20n+17) #first,
body>.square:nth-child(20n+19) #first,
body>.square:nth-child(20n+21) #first {
  grid-area: upper;
  background-color: yellow;
  z-index: -1;
}

body>.square:nth-child(20n+2) #second,
body>.square:nth-child(20n+4) #second,
body>.square:nth-child(20n+6) #second,
body>.square:nth-child(20n+8) #second,
body>.square:nth-child(20n+10) #second,
body>.square:nth-child(20n+13) #second,
body>.square:nth-child(20n+15) #second,
body>.square:nth-child(20n+17) #second,
body>.square:nth-child(20n+19) #second,
body>.square:nth-child(20n+21) #second {
  grid-area: lower;
  background-color: green;
  z-index: -1;
}

body>.square:nth-child(20n+3),
body>.square:nth-child(20n+5),
body>.square:nth-child(20n+7),
body>.square:nth-child(20n+9),
body>.square:nth-child(20n+11),
body>.square:nth-child(20n+12),
body>.square:nth-child(20n+14),
body>.square:nth-child(20n+16),
body>.square:nth-child(20n+18),
body>.square:nth-child(20n+20) {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "left right";
}

body>.square:nth-child(20n+3) #first,
body>.square:nth-child(20n+5) #first,
body>.square:nth-child(20n+7) #first,
body>.square:nth-child(20n+9) #first,
body>.square:nth-child(20n+11) #first,
body>.square:nth-child(20n+12) #first,
body>.square:nth-child(20n+14) #first,
body>.square:nth-child(20n+16) #first,
body>.square:nth-child(20n+18) #first,
body>.square:nth-child(20n+20) #first {
  grid-area: left;
  background-color: red;
  z-index: -1;
}


body>.square:nth-child(20n+3) #second,
body>.square:nth-child(20n+5) #second,
body>.square:nth-child(20n+7) #second,
body>.square:nth-child(20n+9) #second,
body>.square:nth-child(20n+11) #second,
body>.square:nth-child(20n+12) #second,
body>.square:nth-child(20n+14) #second,
body>.square:nth-child(20n+16) #second,
body>.square:nth-child(20n+18) #second,
body>.square:nth-child(20n+20) #second {
  grid-area: right;
  background-color: black;
  z-index: -1;
}
